image: Visual Studio 2019

before_build:
  - nuget restore Semester4/Homework3/Task2/Task2.sln

build:
  project: Semester4/Homework3/Task2/Task2.sln

test_script:
  - dotnet test Semester4/Homework3/Task2/Task2.sln